.loginPage {
  width: 100%;
  height: 100vh;
  background-color: var(--color-grey-400);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBackground {
  position: absolute;
  opacity: 80%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
