.card {
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
  color: var(--color-brand-900);
  background-color: var(--color-brand-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardInput {
  width: 100%;
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
  color: var(--color-brand-900);
  background-color: var(--color-brand-100);
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /* when a card content is much longer than card width, it will breake the line */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.editIcon {
  margin-left: 0.5rem;
  cursor: pointer;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
}
