.listsTable {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  padding: 2rem 3rem;
  min-width: 100vw;
  padding-top: 8rem;
}

.list.dragging {
  transform: rotate(3deg) scale(105%);
}

.button:hover {
  background-color: var(--color-brand-300);
  box-shadow: var(--shadow-md);
}
